body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1256px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1256px;
}
#u1 {
  position:absolute;
  left:2px;
  top:620px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:816px;
  top:734px;
  width:135px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:961px;
  top:734px;
  width:135px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
