body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u1 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:9px;
  top:16px;
  width:50px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:150px;
  width:160px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1568px;
  top:271px;
  width:40px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
